*{
    margin:0;
    padding: 0;
}

.container{
    max-width: 300px;
    height: 300px;
    padding: 20px;
    border: 2px solid black;
    background:linear-gradient(to top, rgb(25, 164, 215),rgb(96, 234, 202));
    border-radius: 15px;


}
button{
    position: relative;
    top: 30px;
    right: 170px;
}
input{
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
}
#resultado{
    position: relative;
    top: 40px;
}